# Applied Data Science Capstone: Week 3 
## Segmenting and Clustering Neighborhoods in the city of Toronto, Canada, Part 1

A Jupyter Notebook that uses pandas and other python libraries to demonstrate 
*k means clustering*.

## Installing libraries

I'm not sure why, but in my environment these two pip commands need
to be in separate cells in the Jupyter Notebook.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (1.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.2.3; however, version 20.3.3 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.2.7/libexec/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/Cellar/jupyterlab/2.2.7/libexec/lib/python3.8/site-packages (4.6.2)
WARNING: You are using pip version 20.2.3; however, version 20.3.3 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/2.2.7/libexec/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

## Import the libraries

I don't use lxml, but it is required by Pandas, and I found during
development that it was useful to check for it here before
Pandas complained about it not being installed.

In [3]:
import pandas as pd
import lxml

## Load the data from Wikipedia

This is a pretty cool bit of functionality.

In [4]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

# there are three tables on the page; the one with the postal codes 
# is the first one. If I were putting this in a production environment,
# where I was re-loading the data regularly, I would add some error checking
# to make sure the page's structure hadn't changed.

raw_postal_codes = df[0]
raw_postal_codes.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Clean the data

It appears that since the capstone assignment was prepared, 
there have been changes to the Wikipedia page, and some of the
changes specified by the assignment are already on the 
Wikipedia page. I noticed this after I had written most of the
code.

In [5]:
# remove unassigned boroughs

raw_postal_codes = raw_postal_codes[(raw_postal_codes.Borough != 'Not assigned')]

# As of this writing, there are no rows with an assigned Borough but
# an unassigned Neighbourhood. But the data set is small enough that
# doing this check doesn't hurt.

raw_postal_codes = raw_postal_codes[(raw_postal_codes.Neighbourhood != 'Not assigned')]

# Contrary to the instructions, each postal code is only listed once, and when
# a postal code has more than one neighborhood they are listed on the
# same line, separated by a comma, as required by the assignement. Like I said,
# I noticed that after I had already written the code.

# since I'm creating a new dictionary, I change the names here rather than
# use dataframe.rename()

grouped = raw_postal_codes.groupby('Postal Code')
grouped_data = {'PostalCode':[], 'Borough':[], 'Neighborhood':[]}
for a, b in grouped:
    grouped_data['PostalCode'].append(a)
    grouped_data['Borough'].append(', '.join(b['Borough'].tolist()))
    grouped_data['Neighborhood'].append(', '.join(b['Neighbourhood'].tolist()))

postal_codes = pd.DataFrame(grouped_data)
postal_codes.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [18]:
postal_codes.shape

(103, 3)