In [1]:
import pandas as pd

In [2]:
original_data = {'code':['a', 'a', 'a', 'b', 'b', 'c'],
                'values':['one', 'two', 'three', 'four', 'five', 'six']}
df = pd.DataFrame(original_data)
df.head()

  code values
0    a    one
1    a    two
2    a  three
3    b   four
4    b   five

In [37]:
grouped = df.groupby('code')
a_group = grouped.groups['a']
df.iloc[a_group]['values'].apply(lambda x: ', '.join(x))

0          o, n, e
1          t, w, o
2    t, h, r, e, e
Name: values, dtype: object

In [41]:
df.pivot(index='code', columns=['values'], values=['values']).columns[,1]

SyntaxError: invalid syntax (<ipython-input-41-8d31b809609a>, line 1)